@import "resources";
@import "03_generic/generic__normalize";
@import "03_generic/generic__box-sizing";
@import "03_generic/generic__global";
@import "04_base/base__anchors";
@import "04_base/base__backgrounds";
@import "04_base/base__forms";
@import "04_base/base__headings";
@import "04_base/base__images";
@import "04_base/base__lists";
@import "04_base/base__paragraphs";
@import "04_base/base__tables";
@import "04_base/base__blockquotes";
@import "05_objects/objects__container";
@import "05_objects/objects__grid";
@import "05_objects/objects__section";
@import "05_objects/objects__media";
@import "05_objects/objects__columns";
@import "05_objects/objects__masonry";

// Components
@import "06_components/components__button";
@import "06_components/components__decorator";
@import "06_components/components__forms";
@import "06_components/components__icon";
@import "06_components/components__responsive-table";
@import "06_components/components__text";

// End components
@import "07_trumps/trumps__grid";
@import "07_trumps/trumps__visibility";
@import "07_trumps/trumps__helpers";
@import "07_trumps/trumps__colors";
@import "07_trumps/trumps__texts";
@import "07_trumps/trumps__borders";

.page-enter-active,
.page-leave-active { transition: opacity 0.1s ease; }
.page-enter-from,
.page-leave-to    { opacity: 0; }

.cookieControl__ModalContent li::before { content: none; }
