NUXT_PUBLIC_SITE_URL=https://www.quehacenlosdiputados.es
NUXT_PUBLIC_SHORTNAME=qhld
NUXT_PUBLIC_BACKEND_URL=https://api.quehacenlosdiputados.es
NUXT_PUBLIC_HOMEBUILDER_URL=https://homebuilder.quehacenlosdiputados.es
NUXT_PUBLIC_USE_ALERTS=true
NUXT_PUBLIC_KNOWLEDGEBASE=politicas
NUXT_PUBLIC_GA_ID=
NUXT_OG_IMAGE_SECRET=
